###### Requirements without Version Specifiers ######`
certifi==2020.6.20
click==7.1.2
config==0.5.0.post0
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe @ file:///opt/concourse/worker/volumes/live/cb778296-98db-45ad-411e-6f726e102dc3/volume/markupsafe_1594371638608/work
SQLAlchemy
# SQLAlchemy @ file:///opt/concourse/worker/volumes/live/c2aa03b1-c9ad-45a3-441a-2a13161a65a4/volume/sqlalchemy_1598374744424/work
Werkzeug==1.0.1
WTForms
# WTForms @ file:///tmp/build/80754af9/wtforms_1597707484216/work
