<h1>Tutors Page</h1>
<ul>
  <li><a href="/">Root Page</a></li>
</ul>

<h3>Tutors:</h3>
<table>
  <thead>
    <th>User Name</th>
  </thead>
  <tbody>
  {% for tutor in tutors %}
    <tr>
      <td> {{ tutor.user_name }}</td>
    </tr>  
  {% endfor %}
  </tbody>
</table>

<br /><br />

<form action="/add_tutor" >
  <label>Name</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Password</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Location</label><br />
  <input type="text" name="location" />
  <br />
  <br />

  <label>School</label><br />
  <input type="text" name="school" />
  <br />
  <br />

  <label>Age</label><br />
  <input type="number" name="age" />
  <br />
  <br />

  <label>Phone Number</label><br />
  <input type="number" name="phone_number" />
  <br />
  <br />

  <label>Email</label><br />
  <input type="email" name="email" />
  <br />
  <br />

  <label>Address</label><br />
  <input type="text" name="address" />
  <br/>
  <br />

  <label>Venmo</label><br />
  <input type="text" name="venmo" />
  <br />
  <br />

  <label>Bio</label><br />
  <input type="text" name="bio" />
  <br />
  <br />

  <label>Hourly Rate</label><br />
  <input type="number" name="hourly_rate" />
  <br />
  <br />

  <label>Grade</label><br />
  <input type="text" name="grade" />
  <br />
  <br />

  <input type="submit" />
</form>
