<h1>Create Account</h1>
<ul>
  <li><a href="/">Root Page</a></li>
</ul>

<br /><br />

<form action="/CreateAccount" >
    <div class="container">
        <label>Full Name</label> <br />
        <input type="text" placeholder= "Enter Full Name" name="name" required/>
        <br />
        <br />

        <label>Username</label> <br />
        <input type="text" placeholder= "Enter Username" name="username" required/>
        <br />
        <br />

        <label>Password</label> <br />
        <input type="text" placeholder= "Enter Password" name="password" required/>
        <br />
        <br />

        <button type="submit" formaction="/">Create Account</button>

        <a href="#" class="previous">&laquo; Previous</a>
        <a href="#" class="next">Next &raquo;</a>
    </div>

    <button type="submit">Login</button>
</form>

  <!-- <label>Location</label><br />
  <input type="text" name="location" />
  <br />
  <br />

  <label>School</label><br />
  <input type="text" name="school" />
  <br />
  <br />

  <label>Age</label><br />
  <input type="number" name="age" />
  <br />
  <br />

  <label>Phone Number</label><br />
  <input type="number" name="phone_number" />
  <br />
  <br />

  <label>Email</label><br />
  <input type="email" name="email" />
  <br />
  <br />

  <label>Address</label><br />
  <input type="text" name="address" />
  <br/>
  <br />

  <label>Venmo</label><br />
  <input type="text" name="venmo" />
  <br />
  <br />

  <label>Bio</label><br />
  <input type="text" name="bio" />
  <br />
  <br />

  <label>Hourly Rate</label><br />
  <input type="number" name="hourly_rate" />
  <br />
  <br />

  <label>Grade</label><br />
  <input type="text" name="grade" />
  <br />
  <br /> -->


