{% extends 'layout.html' %} {% block heading %}Edit Tutor Information: {{Tutors.name}}{% endblock %} {% block content %}
{{form.csrf_token}}
Name: {{form.name}} {% if form.name.errors %}

{% for error in form.name.errors %}
{{error}}
{% endfor %}
{% endif %}
Address: {{form.address}} {% if form.address.errors %}

{% for error in form.address.errors %}
{{error}}
{% endfor %}
{% endif %}
Beer(s) liked:

{% for beer, field in form.beer_fields() %}
{{beer}}: {{field}} {% if field.errors %}
{% for error in field.errors %}
{{error}}
{% endfor %}
{% endif %}
{% endfor %}
Bar(s) frequented:

{% for bar, field in form.bar_fields() %}
{{bar}}: {{field}} {% if field.errors %}
{% for error in field.errors %}
{{error}}
{% endfor %}
{% endif %}
{% endfor %}