{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Home Page</h1>
    
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    <h2>Most Popular Tutors</h2>
    <table width=100%>
    <tr>
      <th>Tutor</th>
      <th>Rating</th>
      <th>Grade</th>
      <th>School</th>
      <th>Price</th>
    </tr>
    {% for tutor in tutors%}
      <tr>
        <td> {{ tutor.name }}</td>
        <td> {{ tutor.rating }}</td>
        <td> {{ tutor.grade }}</td>
        <td> {{ tutor.school }}</td>
        <td> {{ tutor.hourly_rate }}</td>
      </tr>  
    {% endfor %}
    </table>
{% endblock %}
