<h1>Login</h1>

<br /><br />

<form action="/Login" >
    <label>Username</label> <br />
    <input type="text" placeholder= "Enter Username" name="username" required/>
    <br />
    <br />

    <label>Password</label> <br />
    <input type="text" placeholder= "Enter Password" name="password" required/>
    <br />
    <br >
    
    <!-- <a href="/"> <button> Login </button> </a> -->
    <button formaction="/">Login</button>
    
    <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>

     
    <ul>
        <li><a href="/ForgotPassword">Forgot Password</a></li>
    </ul>

    <ul>
        <li><a href="/CreateAccount">Create Account</a></li>
    </ul>

</form>
<!-- 
    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Create Account</button>

        <span class="psw">Forgot Password <a href="#">Forgot Password?</a></span>


    </div> -->


