{% extends 'base.html' %}

{% block app_content %}
<h1> Upcoming Sessions </h1>
<table width=100%>
	<tr>
		<th>Day</th>
		<th>Time</th>
		<th>Tutor</th>
		<th>Tuttee</th>
		<th>Class</th>
	</tr>
	{% for session in sessions%}
			<tr>
				<td> {{session.session_day}}</td>
				<td> {{session.session_time}}</td>
				<td> {{session.tutor}}</td>
				<td> {{session.tutee}}</td>
				<td> {{session.class_id}}</td>
			</tr>
	{% endfor %}
</table> 
<hr width="100%">
<p> Looking to book more? <a href="{{ url_for('search') }}"> Search for one here. </a>
{% endblock %} 
