<h1>Users</h1>
<ul>
  <li><a href="/">Root Page</a></li>
</ul>

<form action="/add_user" >
  <label>Username</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Password</label><br />
  <input type="text" name="name" />
  <br />
  <br />

  <label>Email</label><br />
  <input type="email" name="email" />
  <br />
  <br />

  <label>First Name</label><br />
  <input type="text" name="first_name" />
  <br />
  <br />

  <label>Last Name</label><br />
  <input type="text" name="last_name" />
  <br />
  <br />

  <input type="submit" />
</form>